requests
image
pymongo
selenium
pyPrivnote
gtts
dnspython
aiohttp
appdirs
async-timeout
attrs
beautifulsoup4
black
certifi
chardet
click
colorama
colorthief
decorator
emoji
idna
imageio
imageio-ffmpeg
moviepy
mtranslate
multidict
mypy-extensions
nekos.py
numpy
pathspec
Pillow
proglog
psutil
pyfiglet
regex
soupsieve
toml
tqdm
typed-ast
typing-extensions
urllib3
yarl
